<ion-header class="home_page_header">
  <div class="home_page_header_content">
    <div class="home_page_header_icon">
      <div
        class="flex align-items-center justify-content-center svgIcon"
        appSvg="arrowLeft"
      ></div>
    </div>
    <div class="home_page_header_title">Schedule</div>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="main_container">
  <div class="demo-app">
      <button (click)="addEvent()">Add Event</button>
    <full-calendar [options]="calendarOptions" class="custom-calendar"></full-calendar>
  </div>
</ion-content>
