.home_page_header {
  background-color: #2d2d2d;
  box-shadow: 0px 4px 10px 0px #00000040;
  padding: 25px;
  position: relative;
  display: flex;
  align-items: center;

  .home_page_header_content {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .home_page_header_icon {
    position: absolute;
    left: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004aca;
    border-radius: 10px;
    cursor: pointer;

    .svgIcon {
      font-size: 20px;
      color: #fff;
    }
  }

  .home_page_header_title {
    width: 100%;
    user-select: none;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
}

.card {
  padding: 0 30px;

  .Content-Wrapper {
    width: 100%;
    padding: 30px;
    background-color: #2d2d2d;
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 10px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "details time" "cta time";
    align-items: center;

    .details {
      grid-area: details;
      margin-bottom: 1.5rem;
    }

    .current-time {
      grid-area: time;
      justify-content: flex-end;

      .svgIcon {
        width: 45px;
        height: 45px;
        display: inline-block;
      }

      span {
        font-size: 2.5rem;
      }
    }

    .cta {
      grid-area: cta;

      button {
        padding: 16px 70px;
        border-radius: 5px;
        background-color: rgba(96, 188, 148, 1);
      }
    }
  }

  .timeFrame-tabs {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 20px;

    button {
      min-width: 25%;
      max-width: 25%;
      background-color: #2d2d2d;
      color: #fff;
      box-shadow: 0px 4px 10px 0px #00000040;
      padding: 20px;
      border-radius: 8px;
      border: none;
      transition: background-color 0.3s ease, color 0.3s ease;
      font-size: 2rem;
      text-align: center;

      &.active-tab {
        background-color: rgba(0, 74, 202, 1);
        color: #fff;
      }
    }
  }
}

/* Responsive */
@media (max-width: 550px) {
  .card {
    padding: 0 10px;

    .Content-Wrapper {
      grid-template-columns: 1fr;
      grid-template-areas: "details" "time" "cta";
      text-align: center;
      padding: 20px;
      margin-bottom: 0.25rem;
      gap: 5px;

      .details {
        margin-bottom: 0.5rem;
        width: 100%;
        font-stretch: 120%;
        text-align: center;
      }

      .current-time {
        justify-content: center;
        gap: 5px;

        .svgIcon {
          width: 20px;
          height: 20px;
        }

        span {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }

      .cta {
        width: 100%;

        button {
          width: 75%;
          padding: 14px 0;
          border-radius: 5px;
        }
      }
    }

    .timeFrame-tabs {
      padding: 10px 1px;
      gap: 10px;
      margin-bottom: 0.25rem;

      button {
        font-size: 13px;
        padding: 8px;
        border-radius: 6px;
      }
    }
  }
}


.table-wrapper {
  display: block;
  padding: 0 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 2.5rem;
}

.data-card {
  display: none;
}

::ng-deep {
  .p-datatable-table-container {
    border-radius: 10px;
    overflow: hidden;
  }

  .p-datatable-table {
    width: 100%;
  }

  .p-datatable-thead > tr > th {
    text-align: center;
    color: black;
    font-weight: 600;
    border: none !important;
    padding: 12px;
  }

  .p-datatable-tbody > tr > td {
    text-align: center;
    border: none !important;
    color: #fff;
    padding: 10px;
  }

  .p-datatable-tbody {
    background-color: #2d2d2d;

    > tr:nth-child(odd) {
      background-color: rgba(65, 65, 65, 1);
    }

    > tr:nth-child(even) {
      background-color: #000;
    }
  }

  .p-datatable-emptymessage > td {
    background-color: #2d2d2d !important;
    color: #fff !important;
    text-align: center;
    font-style: italic;
    border: none !important;
  }
}

@media (max-width: 550px) {
  .home_page_header {
    background-color: transparent;
    box-shadow: none;
  }

  .card {
    padding: 0 10px;

    .Content-Wrapper {
      grid-template-columns: 1fr;
      grid-template-areas: "details" "time" "cta";
      text-align: center;
      padding: 20px;
      margin-bottom: 0.25rem;
      gap: 5px;

      .details {
        margin-bottom: 0.5rem;
        width: 100%;
        font-stretch: 120%;
        text-align: center;
      }

      .current-time {
        justify-content: center;
        gap: 5px;

        .svgIcon {
          width: 20px;
          height: 20px;
        }

        span {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }

      .cta {
        width: 100%;

        button {
          width: 75%;
          padding: 14px 0;
          border-radius: 5px;
        }
      }
    }

    .timeFrame-tabs {
      padding: 10px 1px;
      gap: 10px;
      margin-bottom: 0.25rem;

      button {
        font-size: 13px;
        padding: 8px;
        border-radius: 6px;
      }
    }
  }

  .table-wrapper {
    overflow-x: auto;
    display: none;
  }

  .data-card {
    display: block;
    background-color: rgba(45, 45, 45, 1);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: x-small;
    margin-bottom: 1rem;

    div {
      padding: 2px;
    }
  }

  ::ng-deep {
    .p-datatable-table-container {
      overflow-x: auto;
    }

    .p-datatable-table {
      min-width: 50rem;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(65, 65, 65, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;

  &:hover {
    background: #000;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(65, 65, 65, 1) #000;
}
